<div class="contacts">
  <div class="contacts-container">
    <div class="contacts-wrapper">

      <p id="p">
        <span>Иркутск</span>
      </p>

      <p style="font-size: 20pt;">
        <span>64-80-83</span>
      </p>

      <p>
        <a href="mailto:info@penguintours.ru">info@penguintours.ru</a>
      </p>
      <br>
      <p>
        <strong>Режим работы</strong>
      </p>
      <p>
        Понедельник-Пятница: с 10:00 до 19:00
      </p>
      <p>
        Суббота, Воскресение: с 11:00 до 16:00
      </p>

    </div>
  </div>
</div>
<div @visibility class="comments" id="comments">
  <app-comments></app-comments>
</div>
