<div *ngIf="showIcons">
    <a *ngFor="let icon of spaConfigService.socialIcons" [href]="icon.url" [title]='icon.alt' target='_blank'>
        <img *ngIf="!icon.disabled" class='top-img' [src]="icon.imageFile" [alt]="icon.alt"></a>
</div>
<div [ngClass]='{"forSmall" : !showIcons}' *ngIf="spaConfigService.showUserControls">
    <span>Hello</span>
    <button *ngIf="!showLoader" class="btn btn-sm btn-warning" (click)='signOut()'>Sign out</button>
    <img src='src/imgs/loaderOut.gif' *ngIf="showLoader">
</div>
